登录mysql:
    cmd中: 'MySQL -u root -p'回车后输入密码
退出:
    exit 或者 quit \q 都可以
查看当前服务器下数据库列表:
    SHOW {database|schema} [LIKE 'pattern' | WHERE expr]
    eg: SHOW DATABASES;
查看警告信息:
    show warnings;
创建数据库:
    CREATE {database|schema} [if not exists] db_name [default] character set [=] charset_name
    eg: CREATE t1;
显示数据库信息:
    SHOW CREATE DATABASE db_name;
修改数据库信息(编码信息):
    ALTER {database|schema} [db_name] [default] character set [=] charset_name
删除数据库:
    DROP {database|schema} [if exists] db_name;

mysql数据类型:
    整型,浮点型,日期,字符(char 是定长的 varchar 是变长0到2**16-1,ENUM(val1,val2)枚举值用于单选, set(v1,v2,v3)集合, 用于多重选择)

表操作:
打开数据库:
    use db_name;
查看当前所在的数据库:
    select database();
创建表:
    CREATE TABLE [if not exists] table_name(col_name data_type [NULL | NOT NULL] [primary key| unique | default value],XXX,);

查看表:
    SHOW Tables [FROM db_name] [LIKE 'parttern'| WHERE expr];
    eg: SHOW TABLES FROM mysql ==> 查看mysql中所有的tables
查看表结构:
    SHOW COLUMNS FROM tbl_name;
查看表记录:
    SELECT * from tb_name;
插入记录:
    INSERT [INTO] tbl_name [(col1,...)] VALUES(val1,...);
    如果省略掉列名称的话, 必须为所有字段赋值.
自动编号:
    AUTO_INCREMENT
表的修改:
    添加列: ALTER TABLE tb_name ADD [COLUMN] col_name column_attr [FIRST | (AFTER col_name)];
    删除列: ALTER TABLE tb_name DROP [COLUMN] col_name column_attr [FIRST | (AFTER col_name)];
             ALTER TABLE tb_name DROP col_name1,DROP col_name2;
    添加列属性: ALTER TABLE tb_name ADD UNIQUE (col_name);
    设置列属性默认值: ALTER TABLE tb_name col_name SET DEFAULT val| DROP DEFAULT;
    
    删除列属性: ALTER TABLE tb_name DROP PRIMARY KEY;
                ALTER TABLE tb_name DROP {key|index} col_name;
    修改列名: ALTER TABLE tb_name CHANGE [COLUMN] old_col_name new_col_name attr [FIRST | after col_name];
    修改表名: ALTER TABLE tb_name RENAME new_tb_name;

表的增删改查:
    增: INSERT tb_name (col_names,xxx) {VALUES|VALUE} (val|DEFAULT),();
        INSERT tb_name SET col_name={val|DEFAULT}; 可以使用子查询, 用的比较少
        INSERT tb_name (col_names, )SELECT ...
        
    删: DELETE FROM tab_name [WHERE condtion];
    
    改(单表更新):UPDATE [LOW_PRIORITY][IGNORE] tb_name SET col_name={val|DEFAULT} [,col_name2={|}] WHERE condition;
        如果省略where条件, 将导致所有记录全部被更新!
    
    查: select * from tb_name;
        select * FROM tb_name WHERE condition group by XX [ASC|DESC];
        HAVING: select * FROM tb_name WHERE condition group by XX having condition;
        select * from users group by gender haveing count(id)>=2;
        ORDER BY[col_name | val| position][ASC | DESC];
        select * from users order by id desc, age desc;
        [LIMIT]: 限制数量
            select * from users limit 2;

子查询:
    出现在sql 语句内的查询
    select * from t1 where col1=(select col2 from t2);
    使用比较运算符的子查询:
        select goods_id, goods_name from tdb_goods where goods_price>= [ANY|ALL|SOME](select round(avg(goods_price),2) from tdb_goods);
    IN or NOT IN: 跟[ANY|ALL|SOME]用法一样
    insert tb_name [col_names,XXX ] select XXX;
        insert tdb_goods_cates(cate_name) select goods_cate from tdb_goods group by goods_cate;
        
    多表更新:
        先创建一个表:
        create table if not exists tdb_goods_cates(cate_id,cate)name);
        然后插入goods_cate:
        insert tdb_goods_cates(cate_name) select goods_cate from tdb_goods group by goods_cate;
        然后更新原来的表:
        update tdb_goods inner join tdb_goods_cates on goods_cate=cate_name set goods_cate=cate_id;
    多表更新这里有个高科技 create table [if not exists] tb_name [(create definitions, XXX)] select_status;
    create table tdb_goods_brands(brand_id int primary key auto_increment,brand_name varchar(40) not null) select brand_name from tdb_goods group by brand_name;
     update tdb_goods as g inner join tdb_goods_brands as b on g.brand_name =b.brand_name set g.brand_name=b.brand_id;

JOIN!(连接):
    默认的JOIN 是内连接, 也叫INNER JOIN 或者CROSS JOIN
    外连接分左外连接和右外连接两种,
    左外指的是显示左表中全部和右表中符合连接条件的
    右外连接显示右表全部和左表符合连接条件的.
多表连接:
    select goods_id,goods_name,cate_name, brand_name from 
    tdb_goods as g join tdb_goods_cates as c ON g.cate_id=c.cate_id
    join tdb_goods_brands as b ON g.brand_id=b.brand_id;
自身的多表连接需要给表起别名s,p

In [ ]:
UION:
    就是直接连接两个sql语句,
    union和union all的区别是
    union 对两个结果集进行并集操作, 结果中不包括重复行,并默认排序
    union all 是对两个集合进行并操作, 结果中包括重复行, 不排序

函数:
    信息函数: select database()
        select last_insert_id()
        select user()
        select version()
聚合函数:
    AVG()
    count()
    max()
    min()
    sum()
    round()
    select count(distinct cate_id) from tdb_goods;
    查有多少种cate_id

存储过程:
    存储过程是sql语句和控制语句的预编译集合, 以一个名称存储并作为一个单元处理.
    存储过程是编译好的代码, 效率高
    存储过程代替sql语句, 减少网络流量
    在一定程度上保证数据安全
    
    优点:
        1.增强SQL语句的功能和灵活性,可以写控制语句
        2. 实现了较快的执行速度, 因为第二次运行存储过程时, 直接调用编译好的代码, 效率高
        3. 调用存储过程传递名字和数据就好, 减少网络流量.
    
与函数区别:
    函数只能返回一个值, 而存储过程可以返回多个值
    函数可以作为sql语句的组成部分来执行, 存储过程一般独立执行
    存储过程效率高
    
创建存储过程:

索引:
    索引是对数据库中一个或多个列的排序, 帮数据库高效获得数据的数据结构
    分为 普通索引,唯一索引, 主键索引,全文索引
    优点:
        加快检索速度
        唯一索引确保每行数据的唯一性
    缺点:
        插入删除修改,维护速度下降
        占用物理和数据空间

存储引擎:
    innodb,csv,memory等
    共享锁(读锁), 排它锁(写锁)

事物的作用, ACID
开始事物：BEGIN TRANSACTION
提交事物：COMMIT TRANSACTION
回滚事务：ROLLBACK TRANSACTION

乐观锁,悲观锁:
    乐观锁: 假定冲突不会发生, 只有在提交操作时检查是否违反数据的完整性
    悲观锁: 假定会发生冲突, 屏蔽任何违反数据完整性的操作
    
数据库三范式
  第一范式  字段具有原子性，不可再分
  第二范式  表中的每列都和主键相关
  第三范式  每列都和主键列直接相关，而不是间接相关

自定义函数:
    CREATE FUNCTION function_name
    RETURNS
    {STRING|INTEFER|REAL|DECIMAL}
    routine_body

外键操作:

外键约束条件:(实际应用中,很少定义物理外键, 只是在设计表的时候考虑)
    1. 父表子表必须使用相同的存储引擎, 而且禁止使用临时表
    2. 数据表的存储引擎只能为InnoDB
    3. 外键列和参照列必须有类似的数据类型, 期中数字的长度或是否有符号位必须相同, 字符长度可以不同
    4. 外键列和参照列必须创建索引, 如果外键列不存在索引的话, MySQL 将自动创建索引.
    eg:create table users (id int auto_increment primary key, name varchar(10),pid int, foreign key (pid) references p (id));
外键约束的参照操作:
    CASCADE:从父表删除或更新且自动删除或更新子表中的匹配行.
    SET NULL:如果父表删除或更新行, 设置子表中的外键为null, 如果设置此选项, 必须保证子表没有指定not null;
    RESTRICT:拒绝对浮标的删除或更新操作.
    NO ACTION:标准SQL关键字, 在MYSQL中与restrict相同.

表约束与列约束:(了解一下就行)
    对一个数据列建立的约束为列约束
    对多个数据列建立的约束为表约束
    列约束既可以在列定义时声明, 也可以在列定以后声明; 表约束只能在列定义后声明.

数据库优化:
    硬件,系统配置, 数据库表结构, sql及索引(效果越来越高)

慢查询日志:
    监控有效率问题的sql.
    .show variables like 'slow_query_log';
    .set global show_query_log_file=''
    .set global log_not_using_indexes=on;
    .set global long_query_time=1 #(unit second)
通过慢查询日志可以发现的问题:
    查询次数多且每次查询占用时间长的sql
    IO大的sql
    未命中索引的sql
对于max(),min()查询, 可以通过建立索引来优化查询时间
子查询可以优化为join, 但小心一对多关系.(distinct)
limit 优化: 使用主键或者索引列进行order by操作 或者记住上次的主键记录, 这样下次查找的时候直接定位就好, 不需要依次扫描

索引优化:
    离散度大的索引放在联合查询的前面.
    但过多的索引会影响查询和写入的效率
    需要删除不需要的索引(冗余索引, 不使用的索引)

数据库及表结构优化:
    选择合适的数据类型:
        尽可能用小的数据类型
        尽可能简单的数据类型
        尽可能使用not null
        尽可能少用text.
    表的范式化和反范式化:
        范式化可以避免插入更新删除异常和数据冗余
        反范式化可以减少join操作, 用空间换时间.
SELECT b.username,b.phone,b.addr,a.orderid,sum(c.price*c.num) as orderprice
FROM ordertable as a
JOIN usertable as b on a.userid=b.userid,
JOIN orderlist as c on c.orderid=b.orderid,
GROUP BY b.username,b.phone,b.addr,a.orderid;
    表的垂直拆分:
        不常用的字段单独放在一个表中, 经常用的放一起,大字段单放
    表的水平拆分:
        对id进行hash运算.前后台业务拆分开, 用来简化后台查询

In [ ]:
系统优化:
    增加tcp支持的队列数
    减少断开连接时,资源回收
    设置打开文件数限制
    关闭(限制)防火墙软件
硬件优化:
    cpu
    存储 raid 0,1,5